// Color Variables
$primary_color: #1976d2;
$secondary_color: #4791db;
$accent_color: #ff9e43;
$background_color: #1a2038;
$font-family: "Roboto", sans-serif;
$font-size1:14px;
$light_color: #ffffff;
$black_color: #000000;
$text_color: #2A2F5B;
$border_color_light: #cfcfcf;
$border_color_blue: #8e17d5;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
