// @use '../../assets/scss/_variables.scss';
// @use '../../assets/scss/_button_group.scss';
// @use '../login/breakpoints';


/**************** login page starts ****************/

// Color Variables
$primary_color: #1976d2;
$secondary_color: #4791db;
$accent_color: #ff9e43;
$background_color: #1a2038;
$font-family: "Roboto", sans-serif;
$font-size1:14px;
$light_color: #ffffff;
$black_color: #000000;
$text_color: #2A2F5B;
$border_color_light: #cfcfcf;
$border_color_blue: #8e17d5;


$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

a{
  text-decoration: none;
}

.google_img{
  margin-right: 6px;
}
.login_section {
  width: 100%;
  height: 100%;
  background-color: #1a2038;
}

.social_btn{
  width: 100%;
  padding: 7px 0;
  color: #000000;
  border-radius: 5px;
  background-color: #e0e0e0;
  filter: drop-shadow(3px 2px 5px #c1bfbf);
  &:hover{
    background-color: #d5d4d4;
    filter: drop-shadow(3px 2px 5px #c1bfbf);
  }
}

.login_section-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_button_box_text{
  font-size: 14px;
}

.login_section--box {
  height: 388px;
  padding-top: 4rem;
  background-image: url("../../assets/img/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 0 0 10px;
}

  .login_form_box {
    height: 388px;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
    padding: 30px 30px;
    margin: 0;
  }

  .login_section--box_ul {
    margin-left: 0px;
    padding-left: 0px;
  }

  .login_section--box_ul li {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 0.85rem;

  }

  .login_section--box > p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  li::marker {
    color: red;
  }

  .form_label{
    font-size: 14px;
    font-weight: normal;
  }

  input::placeholder {
    font-size: 14px;
    color: red;
  }

  .forget_text{
    font-size: 13px;
  }

  .login_input {
    border: 1px solid #cfcfcf;
  }

  .login_input:focus {
    /* border: 1px solid red;  */ /* for error */
    border: 1px solid #8e17d5;
  }

  // Primary Button
.primary_btn {
  font-size: $font-size1;
  font-weight: normal;
  padding: 10px 20px;
  color: $light_color;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background-color: $primary_color;

  &:hover {
    color: $light_color;
    background-color: $secondary_color;
  }
}

.primary_btn_outline {
  display: block;
  font-size: $font-size1;
  font-weight: normal;
  width: 100%;
  padding: 10px 20px;
  color: $primary_color;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: 1px solid $primary_color;
  background-color: transparent;

  &:hover {
    color: $light_color;
    background-color: $primary_color;
  }
}

.secondary_btn_outline {
  font-size: $font-size1;
  color: $light_color;
  border-radius: 2px;
  border: 1px solid $secondary_color;
  background-color: transparent;

  &:hover {
    color: $black_color;
    background-color: $primary_color;
  }
}

// $breakpoint-tablet: 360px;
// @media (min-width: $breakpoint-tablet) {

//   .login_section--box {
//     height: 388px;
//     padding-top: 4rem;
//     background-image: url("../../assets/img/login-bg.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     border-radius: 10px 0 0 10px;

//   }

//   .primary_btn {
//     display: block;
//     font-size: $font-size1;
//     width: 100%;
//     padding: 10px 20px;
//     color: $light_color;
//     cursor: pointer;
//     text-align: center;
//     border-radius: 3px;
//     background-color: $primary_color;

//     &:hover {
//       color: $light_color;
//       background-color: $secondary_color;
//     }
//   }
// }